
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: (devel)
  creationTimestamp: null
  name: components.cluster.oneinfra.ereslibre.es
spec:
  group: cluster.oneinfra.ereslibre.es
  names:
    kind: Component
    listKind: ComponentList
    plural: components
    singular: component
  scope: Namespaced
  validation:
    openAPIV3Schema:
      description: Component is the Schema for the components API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: ComponentSpec defines the desired state of Component
          properties:
            cluster:
              type: string
            hypervisor:
              type: string
            role:
              description: Role defines the role of this component
              type: string
          type: object
        status:
          description: ComponentStatus defines the observed state of Component
          properties:
            allocatedHostPorts:
              items:
                description: ComponentHostPortAllocation represents a port allocation
                  in a component
                properties:
                  name:
                    type: string
                  port:
                    type: integer
                type: object
              type: array
            clientCertificates:
              additionalProperties:
                description: Certificate represents a Certificate
                properties:
                  certificate:
                    type: string
                  privateKey:
                    type: string
                type: object
              type: object
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
